body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
/* ------------------  ------------------ */
/* ------------------ HEADER ------------------ */
.header {
  background-color: #fff;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-accent {
  color: #2e2f42;
}

.header-navigation {
}

.header-menu {
}

.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-contact-info {
  font-style: normal;
}

.header-contact-info-list {
}

.header-contact-info-item {
}

.header-contact-info-link {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contact-info-link:hover,
.header-contact-info-link:focus {
  color: #404bbf;
}
/* ------------------  ------------------ */
/* ------------------ HERO ------------------ */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ------------------  ------------------ */
/* ------------------ FEATURES ------------------ */
.features {
}

.features-list {
}

.features-list-item {
}

.features-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-list-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ------------------  ------------------ */
/* ------------------ TEAM ------------------ */
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  background-color: #ffffff;
}

.team-list {
}

.team-list-item {
}

.team-list-img {
}

.team-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-list-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* ------------------  ------------------ */
/* ------------------ PORTFOLIO ------------------ */
.portfolio {
}

.portfolio-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-list-item {
}

.portfolio-list-img {
}

.portfolio-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ------------------  ------------------ */
/* ------------------ FOOTER ------------------ */
.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
